.header{
display: flex;
justify-content: space-between;
border: 1px solid black;
height: 100px;
}
.logo{
    /* margin: 5px; */
    width: 100px;
}
.nav-items{
    padding: 0 10px;
}
.nav-items > ul{
    font-size: 22px;
  display: flex;
  list-style-type: none;

}
.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
    display: flex;
}
.res-container{
    /* display: flex;
    /* justify-content: space-between; */
   
        flex-wrap: wrap;
        gap: 40px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
    }

.res-card{
   
    margin: 5px;
     padding: 10px;
    width: 200px;
    height:auto;
    background-color: #f0f0f0;     
}
.res-card:hover{
    cursor: pointer;
    border: 2 px solid black;
}
.res-logo{
    width: 100%;
    height: 35%;
}

.search{
    margin: 20px auto;
  /* text-align: center; */
  max-width: 100%;
  /* position: relative; */
  border: 1px solid black;
}
.filter-btn{
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    border: 3px solid black;
    /* background-color: blue; */
}
.shimmer-container{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
gap:40px;
}
.shimmer-card{

    margin: 5px;
    padding: 10px;
   width: 200px;
   height: 300px;
   background-color: #f0f0f0; 


}
.login{
    padding: 0 25px;
    cursor: pointer;
}
.filter{
    display:inline-flex;
}